In [1]:
import pandas as pd
import numpy as np

<h3>Reading .csv files in python</h3>

In [3]:
Automobile = pd.read_csv("iris.csv")
Automobile.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

<h3>Reading .txt files</h3>

In [4]:
hotdogs = pd.read_table("hotdogs.txt",header=None)
hotdogs.head()

      0    1    2
0  Beef  186  495
1  Beef  181  477
2  Beef  176  425
3  Beef  149  322
4  Beef  184  482

<h3>Reading .xls or .xlsx files</h3>

In [5]:
weather = pd.read_excel('weather.xlsx')
weather.head()

,X,year,month,measure,X1,X2,X3,X4,X5,X6,...,X22,X23,X24,X25,X26,X27,X28,X29,X30,X31
0,1,2014,12,Max.TemperatureF,64,42,51,43,42,45,...,44,47,46,59,50,52,52,41,30,30
1,2,2014,12,Mean.TemperatureF,52,38,44,37,34,42,...,39,45,44,52,44,45,46,36,26,25
2,3,2014,12,Min.TemperatureF,39,33,37,30,26,38,...,33,42,41,44,37,38,40,30,22,20
3,4,2014,12,Max.Dew.PointF,46,40,49,24,37,45,...,39,45,46,58,31,34,42,26,10,8
4,5,2014,12,MeanDew.PointF,40,27,42,21,25,40,...,34,42,44,43,29,31,35,20,4,5

<h3>Reading .jason file</h3>

In [10]:
#As Jason files are read line by line to get total file keep lines as True
zips = pd.read_json('zips.json',lines=True)
zips.head()

    _id         city                      loc    pop state
0  1001       AGAWAM  [-72.622739, 42.070206]  15338    MA
1  1002      CUSHMAN   [-72.51565, 42.377017]  36963    MA
2  1005        BARRE  [-72.108354, 42.409698]   4546    MA
3  1007  BELCHERTOWN  [-72.410953, 42.275103]  10579    MA
4  1008    BLANDFORD  [-72.936114, 42.182949]   1240    MA

<h3>Reading file from url</h3>

In [12]:
import urllib
#from urllib.request import urlopen

In [15]:
f = urllib.request.urlopen('https://storage.googleapis.com/dimensionless/python/files/In-Flanders-Fields.txt')           
text = f.read()
print(str(text,'utf-8'))

In Flanders Fields

In Flanders fields the poppies blow
Between the crosses, row on row,
That mark our place; and in the sky
The larks, still bravely singing, fly
Scarce heard amid the guns below.

We are the Dead. Short days ago
We lived, felt dawn, saw sunset glow,
Loved and were loved, and now we lie
In Flanders fields.

Take up our quarrel with the foe:
To you from failing hands we throw
The torch; be yours to hold it high.
If ye break faith with us who die
We shall not sleep, though poppies grow
In Flanders fields.

-John McCrae

<h3>Connecting with mysql database</h3>

In [16]:
! pip install pymysql

Requirement already satisfied: pymysql in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (0.9.2)
Requirement already satisfied: cryptography in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from pymysql) (2.3.1)
Requirement already satisfied: idna>=2.1 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (2.7)
Requirement already satisfied: asn1crypto>=0.21.0 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (0.24.0)
Requirement already satisfied: six>=1.4.1 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (1.11.0)
Requirement already satisfied: cffi!=1.11.3,>=1.7 in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cryptography->pymysql) (1.11.5)
Requirement already satisfied: pycparser in /home/nbuser/anaconda3_501/lib/python3.6/site-packages (from cffi!=1.11.3,>=1.7->cryptography->pymysql) (2.19)
WARNING: You are using pip version 19.2.2, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [18]:
! pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/00/b6/9cfa56b4081ad13874b0c6f96af8ce16cfbc1cb06bedf8e9164ce5551ec1/pip-19.3.1-py2.py3-none-any.whl (1.4MB)
     |████████████████████████████████| 1.4MB 3.3MB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 19.2.2
    Uninstalling pip-19.2.2:
      Successfully uninstalled pip-19.2.2
Successfully installed pip-19.3.1

In [2]:
import sqlalchemy

<h3>Connecting to a Remote Database</h3>

In [3]:
engine1 = sqlalchemy.create_engine('mysql+pymysql://student:Student@123@34.196.205.34:3306/dognition')

<h4>Format of connection string is:</h4>
<h4>mysql+pymysql://username:password@host@port/database_name</h4>

In [4]:
dogs = pd.read_sql_table('dogs',engine1)
dogs.head()

,gender,birthday,breed,weight,dog_fixed,dna_tested,created_at,updated_at,dimension,exclude,...,breed_group,dog_guid,user_guid,total_tests_completed,mean_iti_days,mean_iti_minutes,median_iti_days,median_iti_minutes,time_diff_between_first_and_last_game_days,time_diff_between_first_and_last_game_minutes
0,female,2011,Labrador Retriever,50,1,0,2013-02-05 03:57:19,2013-07-25 19:41:49,charmer,0,...,Sporting,fd27b272-7144-11e5-ba71-058fbc01cf0b,ce134e42-7144-11e5-ba71-058fbc01cf0b,21,28.20107581,40609.549167,0.004687499952,6.7499999308,564.0215162,812190.98333\r
1,male,2007,Shetland Sheepdog,20,1,0,2013-02-05 15:35:09,2013-07-25 19:41:49,protodog,0,...,Herding,fd27b5ba-7144-11e5-ba71-058fbc01cf0b,ce1353d8-7144-11e5-ba71-058fbc01cf0b,20,0.41330713937,595.1622807,0.0058449074865,8.4166667806,7.8528356481,11308.083333\r
2,male,2012,Golden Retriever,70,0,1,2013-02-05 17:22:56,2013-07-25 19:41:49,,0,...,Sporting,fd27b6b4-7144-11e5-ba71-058fbc01cf0b,ce135ab8-7144-11e5-ba71-058fbc01cf0b,2,0.0091319445066,13.15000009,0.0091319445066,13.15000009,0.0091319445066,13.15000009\r
3,male,2011,Golden Retriever,70,0,0,2013-02-05 17:40:57,2014-05-30 15:52:53,,0,...,Sporting,fd27b79a-7144-11e5-ba71-058fbc01cf0b,ce13507c-7144-11e5-ba71-058fbc01cf0b,11,56.115179398,80805.858333,0.0044328703647,6.3833333252,561.15179398,808058.58333\r
4,female,2010,Shih Tzu,190,0,0,2013-02-05 18:12:28,2014-05-30 15:52:54,einstein,1,...,Toy,fd27b86c-7144-11e5-ba71-058fbc01cf0b,ce135e14-7144-11e5-ba71-058fbc01cf0b,31,7.7342542438,11137.326111,0.00039930554425,0.57499998372,232.02762731,334119.78333\r

In [5]:
query1 = pd.read_sql_query("select gender,birthday,breed,weight from dogs where breed_group = 'Sporting'",engine1)
query1.head()

   gender birthday               breed  weight
0  female     2011  Labrador Retriever      50
1    male     2012    Golden Retriever      70
2    male     2011    Golden Retriever      70
3    male     2008  Labrador Retriever      70
4    male     2011              Vizsla      60

In [7]:
pd.read_sql_query("dsec_students",engine1)

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'dsec_students' at line 1") [SQL: 'dsec_students'] (Background on this error at: http://sqlalche.me/e/f405)