In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
Auto = pd.read_csv('AutoClean.csv')

In [11]:
Auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

<h3>Descriptive Statistics in python</h3>

In [ ]:
Auto.price.mean()

In [ ]:
Auto.price.median()

In [13]:
Auto['fuel-type'].mode()
Auto['fuel-type'].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

<h4>Measure of Spread</h4>

In [ ]:
print(Auto.price.max())
print(Auto.price.min())

In [ ]:
price_range = Auto.price.max()-Auto.price.min()
price_range

In [ ]:
Auto.price.std()

In [ ]:
Auto.price.var()

In [ ]:
Q1 = Auto.price.quantile(0.25)
Q3 = Auto.price.quantile(0.75)
IQR = Q3-Q1
print('1st Quatile value:', Q1)
print('3rd Quatile value:', Q3)
print('Inter Quatile value:', IQR)
print('Lower Bound:', Q3+1.5*IQR)
print('Upper Bound:', Q1-1.5*IQR)

In [ ]:
Auto.price.describe()

<h3>Inferential Statistics</h3>

In [ ]:
from scipy import stats

<h4>1. What is the Z-score of a automobile with a price 35550</h4>

In [ ]:
mean_price = Auto.price.mean()
std_price = Auto.price.std()
z_score = (35550-mean_price)/std_price
print(z_score)

<h4>2. Check whether the price value of 35550 dollars is outlier using boxplot</h4>

In [ ]:
plt.boxplot(Auto.price);

<h4>3. According to surbey it has been found that the mean price is 
Ho:u(price) = 15000
H1:u(price) =/ 15000
Use alpha value of 0.05</h4>

In [ ]:
stats.ttest_1samp(Auto.price,15000)

In [ ]:
# as pvalue is less than alpha value we will reject null Hypthesis
#and conclude that mean price is significantly different from mean price

<h4>
Ho : u(gas) =u(diseal)
H1 : u(gas) =u(diseal)</h4>

In [ ]:
city_mpg_gas = Auto[Auto['fuel-type']=='gas']['city-mpg']
city_mpg_gas.head()

In [ ]:
city_mpg_diesel = Auto[Auto['fuel-type']=='diesel']['city-mpg']
city_mpg_diesel.head()

In [ ]:
stats.ttest_ind(city_mpg_gas,city_mpg_diesel)

In [ ]:
#reject null hypothesis

<h4>5. Apply ANOVA to test</h4>

In [ ]:
Auto['body-style'].unique()

In [7]:
convertible = Auto[Auto['body-style']=='convertible']['price']
convertible.count()

6

In [8]:
hatchback = Auto[Auto['body-style']=='hatchback']['price']
hatchback.count()

70

In [ ]:
sedan = Auto[Auto['body-style']=='sedan']['price']
sedan.count()

In [ ]:
wagon = Auto[Auto['body-style']=='wagon']['price']
wagon.count()

In [ ]:
hardtop = Auto[Auto['body-style']=='hardtop']['price']
hardtop.count()

In [ ]:
anova_result = stats.f_oneway(convertible,hatchback,sedan,wagon,hardtop)
anova_result

In [ ]:
#reject null hypothesis

<h4>6. Chi-square test</h4>

In [4]:
data = {'Gender':['Male', 'Female','Female','Male','Male','Male', 'Female','Female','Male','Male','Female','Female','Male','Female','Male','Male','Female','Male','Male','Female'], 'Automobile':['4wh','4wh','2wh','2wh','4wh','2wh','4wh','2wh','4wh','4wh','2wh','2wh','4wh','4wh','2wh','4wh','2wh','2wh','4wh','4wh']}

In [5]:
Auto_df = pd.DataFrame(data)
Auto_df

    Gender Automobile
0     Male        4wh
1   Female        4wh
2   Female        2wh
3     Male        2wh
4     Male        4wh
5     Male        2wh
6   Female        4wh
7   Female        2wh
8     Male        4wh
9     Male        4wh
10  Female        2wh
11  Female        2wh
12    Male        4wh
13  Female        4wh
14    Male        2wh
15    Male        4wh
16  Female        2wh
17    Male        2wh
18    Male        4wh
19  Female        4wh

In [6]:
crosstab = pd.crosstab(Auto_df.Gender,Auto_df.Automobile)
crosstab

Automobile  2wh  4wh
Gender
Female        5    4
Male          4    7

In [ ]:
stats.chi2_contingency(crosstab)

In [ ]:
#retain the null hypothesis

<h4>7. Create a corelation matrix for the dataset</h4>

In [ ]:
Auto_corr = Auto.corr()
Auto.corr()

<h4>corelation b/w horsepower and price</h4>

In [ ]:
Auto.horsepower.corr(Auto.price)

In [ ]:
stats.pearsonr(Auto.horsepower,Auto.price)

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(15,15))
sns.heatmap(Auto_corr,annot = True,fmt='.2f')
#annot print values, .2f decimal rounds to two decimal points

<h4>8. what is the predicted value of price if the HP of car is 155</h4>

In [ ]:
x = Auto.horsepower

In [ ]:
y = Auto.price

In [ ]:
reg_result = stats.linregress(x,y)
reg_result

In [ ]:
pred_price = reg_result.intercept + reg_result.slope*155
pred_price