<h2>2. Lists:</h2>
<h4>List is a collection of comma-separated values between square brackets.</h4>

In [1]:
friends = ['Joseph', 'Glenn', 'Sally']

In [2]:
type(friends)

list

In [3]:
lst1 = [10,20,30,40,50,60]
lst1

[10, 20, 30, 40, 50, 60]

<h3>List Indexing and slicing</h3>

In [4]:
lst1[2]

30

In [5]:
lst1[2:5]

[30, 40, 50]

In [6]:
lst1[-1]

60

In [15]:
lst1[-3:6]

[40, 50, 60]

<h4>Lists are mutable</h4>

In [7]:
lst1[4]=40

In [8]:
lst1

[10, 20, 30, 40, 40, 60]

<h4>List are hetrogenous</h4>

In [9]:
l1=[1,'parth',5.5,[78,69,89]]

In [10]:
l1[3][2]

89

In [7]:
l1[3]

[78, 69, 89]

<h4>Built-in Functions</h4>

In [10]:
print(len(lst1))
print(min(lst1))
print(max(lst1))
print(sum(lst1))
print(max(l1))

6
10
60
200

TypeError: '>' not supported between instances of 'str' and 'int'

<h4>"in" and "not in" operators</h4>

In [11]:
10 in lst1

True

In [12]:
15 not in lst1

True

<h4>Loop through list</h4>

In [6]:
for i in lst1:
    print(i)

10
20
30
40
50
60

<h4>Use of range() for looping through list</h4>

In [1]:
range(1,10,2)

range(1, 10, 2)

In [4]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [3]:
list(range(10,2,-1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(len(lst1)):
    print(lst1[i])

10
20
30
40
50
60

<h4>Exercise 1: Create a list with elements 1,2,3,4,5 and square each number and store in the list</h4>

In [12]:
lst2=[1,2,3,4,5]
for i in range(len(lst2)):
    lst2[i]=lst2[i]**2
print(lst2)
#cannot use lst2 directly to iterate.

[1, 4, 9, 16, 25]

<h4>List Methods</h4>

In [11]:
list1=list()

In [12]:
list1

[]

In [13]:
lst2.append(6)
lst2

[1, 4, 9, 16, 25, 6]

In [16]:
lst2.count(6)

2

In [17]:
lst2.insert(2,40)
lst2

[1, 4, 40, 9, 16, 25, 6, 6]

In [18]:
lst2.pop(0)

1

In [20]:
lst2.pop()

6

In [30]:
lst2

[]

In [25]:
#pop removes values present on index, remove method removes the value and it also doesn't display it
lst2.remove(40)

In [16]:
print(lst2.reverse())

None

In [29]:
lst2.clear()

<h4>Exercise 2: Extract 'utc.ac.za' from the following string object</h4>

<h4>Nested Lists</h4>

In [34]:
grades =[['Assigments 1',80],['Assignment 2',90],['Assignment 3',70]]
print(grades[0])
print(grades[1])
print(grades[2])

['Assigments 1', 80]
['Assignment 2', 90]
['Assignment 3', 70]

In [36]:
sublist = grades[0]
sublist

['Assigments 1', 80]

In [37]:
sublist[0]

'Assigments 1'

In [38]:
sublist[1]

80

In [39]:
grades[0][0]

'Assigments 1'

In [40]:
grades[0][1]

80

<h4>Assignement 2: For the given grades list [10,20,30],[40,50,60],[70,80,90]. Calculate the average of each sublist and append
    it to new averages list</h4>

In [27]:
averages =list()
grades= [[10,20,30],[40,50,60],[70,80,90]]
len(grades)
for i in grades:
    total = 0
    for j in i:
        total=total+j
    averages.append(total/len(i))
print(averages)

[20.0, 50.0, 80.0]

In [28]:
averages =list()
for i in grades:
    averages.append(sum(i)/len(i))
print(averages)

[20.0, 50.0, 80.0]

<h3>3. Tuples:</h3>
<h4>Tuples are sequences, just like lists. The differnce between tuples and lists are, tuples are immutable as like lists.</h4>

In [30]:
tup1 = ('Glenn','sally','Joseph')

In [31]:
type(tup1)

tuple

<h4>Indexing and Slicing</h4>

In [32]:
tup1[2]

'Joseph'

In [33]:
tup1[1:3]

('sally', 'Joseph')

<h4>Tuples are Immutable</h4>

In [34]:
tup1[1]='George'

TypeError: 'tuple' object does not support item assignment

<h4>Built-in functions</h4>

In [35]:
print(len(tup1))
print(max(tup1))
print(min(tup1))

3
sally
Glenn

<h4>"in" and "not in" operator</h4>

In [37]:
'alice' in tup1

False

In [38]:
'lly' in tup1
'sally' not in tup1

False

In [40]:
'sally' in tup1

True

<h4>Loop through tuple</h4>

In [41]:
for i in tup1:
    print(i)

Glenn
sally
Joseph

In [42]:
for i in range(len(tup1)):
    print(tup1[i])

Glenn
sally
Joseph

<h4>Tuples methods</h4>

In [45]:
t=(10,10,20,30,30,30)
print(t.count(30))
print(t.index(30))

3
3

<h4>Tuples comparision</h4>

In [46]:
(9,1,1,2)<(9,4,3,3,1)

True

In [56]:
[8,4,3]<=[8,3,2,6]

False

<h3>4. Dictionary</h3>
<h4>Dictionary is an unordered collection of elements where each element is represented as"Key:value" enclosed pair</h4>

In [ ]:
d1={'roll':1,'name':'parth','marks':56}
d1
type(d1)

In [4]:
d1['marks']

56

In [5]:
len(d1)

3

In [57]:
purse={}
purse

{}

In [72]:
purse['money']=12

In [71]:
purse['candy']=5

In [73]:
purse['tissues']=75

In [79]:
purse

{'money': 12, 'candy': 10, 'tissues': 75, 5: 10}

<h4>Indexing</h4>

In [75]:
purse[1]

KeyError: 1

In [78]:
purse['candy']=10

<h4>Properties of key</h4>
<h4>1.Keys unique pair</h4>
<h4>2. Keys are of immutable type ie:string or int</h4>

In [80]:
purse['perfume']=1

In [81]:
purse

{'money': 12, 'candy': 10, 'tissues': 75, 5: 10, 'perfume': 1}

In [82]:
purse['coins']=1
purse

{'money': 12, 'candy': 10, 'tissues': 75, 5: 10, 'perfume': 1, 'coins': 1}

In [85]:
purse.pop('perfume')

1

In [86]:
purse

{'money': 12, 'candy': 10, 'tissues': 75, 'coins': 1}

<h4>"in" and "not in" operators</h4>

In [87]:
'candy' in purse

True

In [88]:
'perfume' not in purse

True

<h4>Dictionary methods</h4>

In [89]:
purse.keys()

dict_keys(['money', 'candy', 'tissues', 'coins'])

In [90]:
purse.values()

dict_values([12, 10, 75, 1])

In [91]:
purse.items()

dict_items([('money', 12), ('candy', 10), ('tissues', 75), ('coins', 1)])

<h4>loop through dictionary</h4>

In [94]:
for i in purse:
    print(i,purse[i])

money 12
candy 10
tissues 75
coins 1

In [97]:
#use two itrative varibale to iterate over keyas and values in dictionary

for i,j in purse.items():
    #print('key = ',i)
    #print('Value =',j)
    print(i,j)

money 12
candy 10
tissues 75
coins 1

<h4>Creating word count dictionary for a list of names</h4>

In [9]:
names = ['Rahul','Priya','Rahul','Puja','Rahul','Priya']

In [7]:
counts = dict()
counts

{}

In [106]:
#counts =dict()
for i in names:
    if i in counts:
        counts[i]+=1
    else:
        counts[i]=1
print(counts)

{'Rahul': 3, 'Priya': 2, 'Puja': 1}

<h4>use of get() in dictionary</h4>

In [12]:
counts=dict()
for i in names:
    counts[i]=counts.get(i,0)+1
counts
#get will return key value if present else default value as zero.

{'Rahul': 3, 'Priya': 2, 'Puja': 1}