In [175]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [176]:
Elantra=pd.read_csv("https://storage.googleapis.com/dimensionless/Analytics/elantra.csv")

In [177]:
Elantra.head()

   Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
0      1  2010          7690           9.7      153     213.377  217.466
1      1  2011          9659           9.1      259     229.353  221.082
2      1  2012         10900           8.2      354     244.178  227.666
3      1  2013         12174           7.9      230     242.560  231.321
4      1  2014         15326           6.6      232     247.575  234.933

In [178]:
Elantra.shape
Elantra.Year.value_counts()

2013    12
2012    12
2011    12
2010    12
2014     2
Name: Year, dtype: int64

In [179]:
Elantra.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 7 columns):
Month           50 non-null int64
Year            50 non-null int64
ElantraSales    50 non-null int64
Unemployment    50 non-null float64
Queries         50 non-null int64
CPI_energy      50 non-null float64
CPI_all         50 non-null float64
dtypes: float64(3), int64(4)
memory usage: 2.8 KB

In [180]:
Elantra.describe()
Elantra.head()

   Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
0      1  2010          7690           9.7      153     213.377  217.466
1      1  2011          9659           9.1      259     229.353  221.082
2      1  2012         10900           8.2      354     244.178  227.666
3      1  2013         12174           7.9      230     242.560  231.321
4      1  2014         15326           6.6      232     247.575  234.933

In [181]:
Training_set=Elantra[(Elantra.Year == 2010) | (Elantra.Year == 2011) | (Elantra.Year == 2012)]

In [182]:
#train=Elantra[Elantra['Year']<=2012]

In [183]:
Training_set.head()
Training_set.shape

(36, 7)

In [184]:
# 1 How many observations are in the training set?  
# Ans:36

In [185]:
Testing_set=Elantra[(Elantra.Year == 2013) | (Elantra.Year == 2014)]

In [186]:
#test =Elantra[Elantra['Year']>2012]

In [187]:
Testing_set.head()
Testing_set.shape

(14, 7)

In [188]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [189]:
Elantra_model=LinearRegression()

In [190]:
Elantra_model.fit(Training_set[['Unemployment', 'CPI_all' , 'CPI_energy', 'Queries']],Training_set['ElantraSales'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [191]:
Elantra_model.score(Training_set[['Unemployment', 'CPI_all' , 'CPI_energy', 'Queries']],Training_set['ElantraSales'])

0.42815676686082815

In [192]:
# 2. What is the model R-squared? 
# Ans:0.428

In [193]:
Elantra_model.coef_ #(slope values)

array([-3179.89957338,  -297.6456256 ,    38.50603685,    19.02968262])

In [194]:
# 3. What is the coefficient of the Unemployment variable? 
# Ans: -3179.899

In [195]:
# 4. What is the interpretation of this coefficient? 
# Ans. For an increase of 1 in Unemployment, the prediction of Elantra sales decreases by approximately 3000.

In [196]:
# 5. What is the model R-Squared? 
# Ans: 0.434

In [197]:
Elantra_model1=LinearRegression()

In [198]:
Elantra_model1.fit(Training_set[['Month','Unemployment', 'CPI_all' , 'CPI_energy', 'Queries']],Training_set['ElantraSales'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [199]:
Elantra_model1.score(Training_set[['Month','Unemployment', 'CPI_all' , 'CPI_energy', 'Queries']],Training_set['ElantraSales'])

0.4344443341223623

In [200]:
#6. What is the best explanation for why we must do this? 
# Ans: By modeling Month as a categorical variable, the effect of each calendar month is not restricted to be linear in the numerical coding of the month.
#

In [201]:
X_Training_set=Training_set
X_Training_set['Month'] = pd.Categorical(X_Training_set.Month)
print (Training_set.dtypes)
Training_set.head()

Month           category
Year               int64
ElantraSales       int64
Unemployment     float64
Queries            int64
CPI_energy       float64
CPI_all          float64
dtype: object

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

  Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
0     1  2010          7690           9.7      153     213.377  217.466
1     1  2011          9659           9.1      259     229.353  221.082
2     1  2012         10900           8.2      354     244.178  227.666
5     2  2010          7966           9.8      130     209.924  217.251
6     2  2011         12289           9.0      266     232.188  221.816

In [202]:
#need to create dummies for month as it is categoricalb

In [203]:
from sklearn.dummy import DummyClassifier

In [204]:
X_Training_set = pd.get_dummies(X_Training_set,columns=['Month'],drop_first=True)
X_Training_set.head()

,Year,ElantraSales,Unemployment,Queries,CPI_energy,CPI_all,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,2010,7690,9.7,153,213.377,217.466,0,0,0,0,0,0,0,0,0,0,0
1,2011,9659,9.1,259,229.353,221.082,0,0,0,0,0,0,0,0,0,0,0
2,2012,10900,8.2,354,244.178,227.666,0,0,0,0,0,0,0,0,0,0,0
5,2010,7966,9.8,130,209.924,217.251,1,0,0,0,0,0,0,0,0,0,0
6,2011,12289,9.0,266,232.188,221.816,1,0,0,0,0,0,0,0,0,0,0

In [205]:
X_Training_setnew=X_Training_set.drop('Year',axis=1)

In [206]:
X_Training_setnew=X_Training_setnew.drop('ElantraSales',axis=1)

In [207]:
X_Training_setnew.head()

,Unemployment,Queries,CPI_energy,CPI_all,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,9.7,153,213.377,217.466,0,0,0,0,0,0,0,0,0,0,0
1,9.1,259,229.353,221.082,0,0,0,0,0,0,0,0,0,0,0
2,8.2,354,244.178,227.666,0,0,0,0,0,0,0,0,0,0,0
5,9.8,130,209.924,217.251,1,0,0,0,0,0,0,0,0,0,0
6,9.0,266,232.188,221.816,1,0,0,0,0,0,0,0,0,0,0

In [208]:
y_train=Training_set.ElantraSales

In [209]:
Elantra_model2=LinearRegression()

In [210]:
Elantra_model2.fit(X_Training_setnew,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [211]:
Elantra_model2.score(X_Training_setnew,y_train)

0.819264200601823

In [212]:
X_Training_setnew.columns

Index(['Unemployment', 'Queries', 'CPI_energy', 'CPI_all', 'Month_2',
       'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8',
       'Month_9', 'Month_10', 'Month_11', 'Month_12'],
      dtype='object')

In [213]:
#7. Create a regression model with the Month as categorical variable. What is the model R-Squared? 
# Ans:0.8192

In [214]:
Training_set.Month = Training_set.Month.astype('int32')

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/pandas/core/generic.py:4405: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [215]:
Training_set.corr()

,Month,Year,ElantraSales,Unemployment,Queries,CPI_energy,CPI_all
Month,1.000000,0.000000,0.109795,-0.203603,0.015844,0.176020,0.266788
Year,0.000000,1.000000,0.587274,-0.958746,0.726531,0.831605,0.948585
ElantraSales,0.109795,0.587274,1.000000,-0.567146,0.610065,0.591649,0.593622
Unemployment,-0.203603,-0.958746,-0.567146,1.000000,-0.641109,-0.800719,-0.956212
Queries,0.015844,0.726531,0.610065,-0.641109,1.000000,0.832838,0.753673
CPI_energy,0.176020,0.831605,0.591649,-0.800719,0.832838,1.000000,0.913226
CPI_all,0.266788,0.948585,0.593622,-0.956212,0.753673,0.913226,1.000000

In [216]:
#8. Which of the following variables is Queries highly correlated with? Again, compute the correlations on the training set. Select all that apply. (Include only variables where the absolute value of the correlation exceeds 0.7). For the purpose of this question, treat Month as a numeric variable, not a categorical variable.) 
# Ans: C. CPI_energy  and d. CPI_all

In [217]:
Testing_set.describe()

,Month,Year,ElantraSales,Unemployment,Queries,CPI_energy,CPI_all
count,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000,14.000000
mean,5.785714,2013.142857,19973.642857,7.250000,260.714286,244.805571,233.258929
std,3.786181,0.363137,4608.677645,0.389773,32.185588,3.271336,1.203176
min,1.000000,2013.000000,12174.000000,6.600000,223.000000,238.860000,231.321000
25%,2.250000,2013.000000,16262.500000,7.050000,233.750000,242.763500,232.242750
50%,5.500000,2013.000000,20691.500000,7.250000,250.000000,245.164500,233.342500
75%,8.750000,2013.000000,24323.250000,7.500000,277.750000,246.123250,233.970250
max,12.000000,2014.000000,26153.000000,7.900000,320.000000,252.639000,235.169000

In [218]:
#9. What would the baseline method predict for all observations in the test set? 
#Ans: b. 14462.25

In [219]:
Training_set.ElantraSales.mean()

14462.25

In [220]:
#10.Creating a regression model removing the 'Quries' variable and keeping all other variables. use this modle to make predections
#on the test set. what is the sum of squared errors of the model on the test set?
#Ans:190757747.44436693

In [221]:
#11. Test R-sqaured
#Ans:0.7280

In [222]:
#12. Test RMSE
#Ans:3691.28

In [223]:
Elantra_Test=LinearRegression()

In [224]:
X_Training_setnew.head()

,Unemployment,Queries,CPI_energy,CPI_all,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,9.7,153,213.377,217.466,0,0,0,0,0,0,0,0,0,0,0
1,9.1,259,229.353,221.082,0,0,0,0,0,0,0,0,0,0,0
2,8.2,354,244.178,227.666,0,0,0,0,0,0,0,0,0,0,0
5,9.8,130,209.924,217.251,1,0,0,0,0,0,0,0,0,0,0
6,9.0,266,232.188,221.816,1,0,0,0,0,0,0,0,0,0,0

In [225]:
X_train=X_Training_setnew.drop('Queries',axis=1)

In [226]:
print(X_train.shape)
X_train.head()

(36, 14)

,Unemployment,CPI_energy,CPI_all,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
0,9.7,213.377,217.466,0,0,0,0,0,0,0,0,0,0,0
1,9.1,229.353,221.082,0,0,0,0,0,0,0,0,0,0,0
2,8.2,244.178,227.666,0,0,0,0,0,0,0,0,0,0,0
5,9.8,209.924,217.251,1,0,0,0,0,0,0,0,0,0,0
6,9.0,232.188,221.816,1,0,0,0,0,0,0,0,0,0,0

In [227]:
y_train=Training_set['ElantraSales']

In [228]:
y_train.head()

0     7690
1     9659
2    10900
5     7966
6    12289
Name: ElantraSales, dtype: int64

In [229]:
print(X_train.shape)
print(y_train.shape)

(36, 14)
(36,)

In [230]:
Elantra_Test.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [231]:
Elantra_Test.score(X_train,y_train)

0.8180391238289333

In [232]:
Testing_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14 entries, 3 to 49
Data columns (total 7 columns):
Month           14 non-null int64
Year            14 non-null int64
ElantraSales    14 non-null int64
Unemployment    14 non-null float64
Queries         14 non-null int64
CPI_energy      14 non-null float64
CPI_all         14 non-null float64
dtypes: float64(3), int64(4)
memory usage: 896.0 bytes

In [233]:
X_test =Testing_set
X_test['Month'] = pd.Categorical(X_test.Month)

print (X_test.dtypes)

Month           category
Year               int64
ElantraSales       int64
Unemployment     float64
Queries            int64
CPI_energy       float64
CPI_all          float64
dtype: object

/home/nbuser/anaconda3_501/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [234]:
X_test = pd.get_dummies(X_test,columns=['Month'],drop_first=True)
X_test.head()

,Year,ElantraSales,Unemployment,Queries,CPI_energy,CPI_all,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
3,2013,12174,7.9,230,242.560,231.321,0,0,0,0,0,0,0,0,0,0,0
4,2014,15326,6.6,232,247.575,234.933,0,0,0,0,0,0,0,0,0,0,0
8,2013,16219,7.7,239,252.639,232.599,1,0,0,0,0,0,0,0,0,0,0
9,2014,16393,6.7,240,246.389,235.169,1,0,0,0,0,0,0,0,0,0,0
13,2013,26153,7.5,313,244.598,232.075,0,1,0,0,0,0,0,0,0,0,0

In [235]:
X_test=X_test.drop('ElantraSales',axis=1)

In [236]:
X_test=X_test.drop('Queries',axis=1)

In [237]:
X_test=X_test.drop('Year',axis=1)

In [238]:
X_test.head()

,Unemployment,CPI_energy,CPI_all,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9,Month_10,Month_11,Month_12
3,7.9,242.560,231.321,0,0,0,0,0,0,0,0,0,0,0
4,6.6,247.575,234.933,0,0,0,0,0,0,0,0,0,0,0
8,7.7,252.639,232.599,1,0,0,0,0,0,0,0,0,0,0
9,6.7,246.389,235.169,1,0,0,0,0,0,0,0,0,0,0
13,7.5,244.598,232.075,0,1,0,0,0,0,0,0,0,0,0

In [239]:
y_test=Testing_set['ElantraSales']

In [240]:
y_test.head()
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(36, 14)
(36,)
(14, 14)
(14,)

In [241]:
y_predict_test=Elantra_Test.predict(X_test)
y_predict_test

array([ 9085.34124675, 15816.42783161, 14031.44702873, 16787.21480568,
       18661.51230729, 18447.77790533, 18186.69223462, 20141.33459288,
       21712.94562543, 20307.07205759, 17208.76514566, 14217.46907117,
       16119.20217179, 20757.99488847])

In [242]:
SSE = np.sum((y_test-y_predict_test)**2)
print(SSE)
rmse_test = np.sqrt(mean_squared_error(y_test, y_predict_test))
rmse_test

190757747.44436693

3691.2807247462706

In [243]:
SST = np.sum((y_test-np.mean(y_train))**2)
SST

701375142.375

In [244]:
r2_test = 1 - (SSE/SST)
r2_test

0.7280232276290515

In [245]:
# 13.In a simple linear regression model (One independent variable), If we change the input variable by 1 unit. How much output variable will change? 
# Ans: d.by its slope

In [246]:
# 14.Suppose that we have n independent variables (X1,X2 Xn) and dependent variable is y. The correlation coefficient for one of its variable(Say X1) with y is -0.95. Which of the following is true for X1?
#Ans: a. Relation between the X1 and y is strong.

In [247]:

#Suppose we are fitting a Linear Regression model on a dataset and R-squared and RMSE performance metrics are used to measure the model performance. Which of the following isTRUE?
#Ans: c. R-squared should be higher and RMSE must be lower.