In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Elantra = pd.read_csv('https://storage.googleapis.com/dimensionless/Analytics/elantra.csv')

In [3]:
print(Elantra.head())
print(Elantra.shape)

   Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
0      1  2010          7690           9.7      153     213.377  217.466
1      1  2011          9659           9.1      259     229.353  221.082
2      1  2012         10900           8.2      354     244.178  227.666
3      1  2013         12174           7.9      230     242.560  231.321
4      1  2014         15326           6.6      232     247.575  234.933
(50, 7)

In [7]:
Training_set = Elantra[(Elantra.Year == 2010)|(Elantra.Year == 2011)|(Elantra.Year == 2012)]
print(Training_set.shape)
Training_set

(36, 7)

    Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
0       1  2010          7690           9.7      153     213.377  217.466
1       1  2011          9659           9.1      259     229.353  221.082
2       1  2012         10900           8.2      354     244.178  227.666
5       2  2010          7966           9.8      130     209.924  217.251
6       2  2011         12289           9.0      266     232.188  221.816
7       2  2012         13820           8.3      296     247.615  228.138
10      3  2010          8225           9.9      138     209.163  217.305
11      3  2011         19255           9.0      281     239.454  222.955
12      3  2012         19681           8.2      303     249.095  228.732
14      4  2010          9657           9.9      132     209.024  217.376
15      4  2011         22100           9.1      305     247.129  224.056
16      4  2012         16836           8.2      361     249.075  229.184
18      5  2010          9781           9.6      177     206.172  217.299
19      5  2011         20006           9.0      376     250.538  224.918
20      5  2012         18877           8.2      275     242.208  228.884
22      6  2010         14245           9.4      138     204.161  217.285
23      6  2011         19992           9.1      371     246.401  224.990
24      6  2012         17655           8.2      278     237.514  228.825
26      7  2010         18215           9.5      156     206.834  217.677
27      7  2011         15181           9.0      427     246.968  225.553
28      7  2012         18512           8.2      423     234.757  228.779
30      8  2010         15181           9.5      202     208.927  218.012
31      8  2011         15054           9.0      336     247.112  226.149
32      8  2012         17989           8.1      341     245.455  229.952
34      9  2010         10062           9.5      150     209.850  218.281
35      9  2011         14386           9.0      357     249.732  226.674
36      9  2012         18305           7.8      374     254.333  231.086
38     10  2010          9497           9.5      178     216.655  219.024
39     10  2011         13000           8.8      370     246.971  226.761
40     10  2012         14512           7.8      257     256.389  231.652
42     11  2010          8631           9.8      161     219.303  219.544
43     11  2011         12414           8.6      255     247.092  227.136
44     11  2012         15923           7.8      246     248.136  231.190
46     12  2010         13096           9.4      170     227.190  220.437
47     12  2011         13025           8.5      253     243.015  227.093
48     12  2012         19024           7.9      275     244.698  231.099

#Problem 1 - Loading the Data
#Load the data set. Split the data set into training and testing sets as follows: place all observations
#for 2012 and earlier in the training set, and all observations for 2013 and 2014 into the testing
#set.
#How many observations are in the training set?
#a. 36
#b. 24
#c. 14
#d. 16

#Ans:a

In [6]:
Testing_set = Elantra[(Elantra.Year == 2013)|(Elantra.Year == 2014)]
print(Testing_set.shape)
Testing_set

(14, 7)

    Month  Year  ElantraSales  Unemployment  Queries  CPI_energy  CPI_all
3       1  2013         12174           7.9      230     242.560  231.321
4       1  2014         15326           6.6      232     247.575  234.933
8       2  2013         16219           7.7      239     252.639  232.599
9       2  2014         16393           6.7      240     246.389  235.169
13      3  2013         26153           7.5      313     244.598  232.075
17      4  2013         24445           7.5      248     238.860  231.707
21      5  2013         25090           7.5      252     240.972  232.124
25      6  2013         22163           7.5      320     245.412  232.860
29      7  2013         23958           7.3      274     245.926  233.252
33      8  2013         24700           7.2      271     244.917  233.433
37      9  2013         19691           7.2      298     245.566  233.743
41     10  2013         14876           7.2      223     243.374  233.782
45     11  2013         16751           7.0      231     242.301  234.033
49     12  2013         21692           6.7      279     246.189  234.594

In [ ]:
pd.